{# empty Twig template #}
{% extends "baseadmin.html.twig" %}
{% block body %}
    {% if app.user %}
        <div class="mt-3">
            <h2>Détails de la formation :</h2>
        </div>
        {{ include ('_admin.formation.form.html.twig') }}
    {% else %}
        <div class="mt-3">
            <h2 class="text-center">Vous devez être connecté pour accéder au contenu de cette page</h2>
        </div>
    {% endif %}
{% endblock %}